@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Lexend+Zetta:wght@100..900&family=Prata&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Cinzel+Decorative:wght@400;700;900&display=swap');

:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --fieldBackgroundColor: #F4EAE9;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.field-content {
  display: flex;
  flex-direction: column;
  transition: ease-in-out 0.5s;
}

.config-content {
  display: none;
  flex-direction: column;
  transition: ease-in-out 0.5s;
}

.config-switch {
  display: flex;
  margin-top: 10px;
}

.content-button,
.config-button {
  font-family: "Reddit Mono", monospace;
  padding: 20px;

  border-width: 1px;
  border-color: black;
  border-style: solid;
  cursor: pointer;
}

.content-button {
  background-color: #363636;
  color: whitesmoke;
  transition: ease-in-out 0.15s;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.config-button {
  background-color: whitesmoke;
  color: gray;
  transition: ease-in-out 0.15s;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease 1s;
  background-color: #e3e3e3;
}

.github-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  position: fixed;
  z-index: 10;
  bottom: 2vh;
  left: 2vw;

  border-radius: 50px;
  background-color: white;
  filter: drop-shadow(1px 1px 4px #dadada);
}

.github-tag img {
  width: 30px;
  margin-bottom: 2px;
  margin-right: 5px;
}

.github-tag-link {
  font-family: "Reddit Mono", monospace;
  color: #1a1a1a;
  font-size: 0.9rem;
}

.github-tag-link {
  color: #213547;
  text-decoration: none;
  transition: ease-in-out 0.15s;
}

.github-tag-link:hover {
  text-decoration: underline;
}

main {
  max-width: 2000px;
  max-height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.content {
  display: grid;
  grid-template-columns: 450px 700px;
  height: 100%;
  width: 100%;
  gap: 50px;
  background-color: #ffffff;
}

.fields {
  background-color: white;
  width: 450px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 100vh;
  position: relative;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #213547;
}

h2 {
  margin: 0;
  margin-top: 50px;
  font-size: 2.2rem;
  font-weight: 500;
  color: #272f38;
}

.heading-text {
  font-family: "Reddit Mono", monospace;
  font-size: 1rem;
  color: #1a1a1a;
}

.reactLogo {
  width: 25px;
}

label {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #213547;
}

.personal-details-form,
.education-form,
.skills-form,
.work-experience-form,
.basic-info-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  gap: 15px;
}

.education-form,
.skills-form,
.experience-form {
  display: none;
  flex-direction: column;
  gap: 25px;
}

.educations-list,
.skills-list,
.experiences-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.education-items,
.skill-items,
.experience-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education-item,
.skill-item,
.experience-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--fieldBackgroundColor);
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  color: black;
}

.education-item-qualification {
  margin: 0;
  font-weight: 400;
}

.education-item-button {
  background-color: transparent;
  border-width: 0;
}

.education-item-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-icon {
  width: 25px;
  cursor: pointer;
}

.delete-icon {
  width: 20px;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  transition: ease-in-out 0.15s;
}

.edit-icon:hover,
.delete-icon:hover {
  transform: scale(1.2);
}

.name-and-surname,
.years-attended {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
}

.name-and-surname {
  width: 90%;
}

.years-attended {
  width: 80%;
}

.name,
.surname {
  width: 165px;
}

.name-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.starting-year,
.ending-year {
  width: 140px;
}

.education-buttons,
.skill-buttons,
.experience-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-education-button,
.submit-education-button,
.add-skill-button,
.submit-skill-button,
.add-experience-button,
.submit-experience-button {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 30px;

  margin-top: 25px;
  cursor: pointer;
}

.cancel-education-button,
.cancel-skill-button,
.cancel-experience-button {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 30px;
  cursor: pointer;
}

.add-education-button,
.add-skill-button,
.add-experience-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.skill,
.experience {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill-item {
  width: 300px;
}

.skill-item-name,
.experience-item-name {
  margin: 0;
  font-weight: 400;
}

.skill-item-button,
.experience-item-button {
  background-color: transparent;
  border-width: 0;
}

.skill-item-icons,
.experience-item-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.textarea {
  width: 90%;
  height: 100px;
  resize: vertical;
  line-height: 20px;
  word-spacing: 3px;
}

input,
textarea {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #213547;

  padding: 10px;
  background-color: aliceblue;
  border-radius: 15px;
  border-width: 2px;
  border-color: transparent;
  border-style: solid;

  transition: ease-in-out 0.15s;
  outline: none;
}

.work-experience {
  padding-bottom: 50px;
}

::placeholder {
  color: #213547a8;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  border-color: #00D8FF;
  box-shadow: #104ef72d 0px 0px 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.input {
  width: 300px;
}

@media print {
  body {
    visibility: hidden;
  }

  #section-to-print {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}